# PostgreSQL
POSTGRES_DB=taskflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_PORT=5432

# Backend
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/taskflow
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=12345678
JWT_SECRET=your-very-very-very-long-secret-key-1234567890
